1º DAW/Lenguaje de marcas/XML Evaluable/Examen Carles Morales Amat/Ejercicio1/Examen Validation.dtd

<!ELEMENT oferta (vehiculo+)>
<!ELEMENT vehiculo (marca, modelo, motor, kilometros, precio, extra+, foto+)>
<!ATTLIST vehiculo matricula CDATA #REQUIRED>
<!ELEMENT marca (#PCDATA)>
<!ELEMENT modelo (#PCDATA)>
<!ATTLIST modelo color CDATA #REQUIRED>
<!ELEMENT motor (#PCDATA)>
<!ATTLIST motor combustible CDATA #REQUIRED>
<!ELEMENT kilometros (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ELEMENT extra (#PCDATA)>
<!ATTLIST extra valor CDATA #IMPLIED>
<!ELEMENT foto (#PCDATA)>